{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Controle de Membos</title>

		<!-- Bootstrap CSS -->
		<link href="{%static '/css/bootstrap.min.css'%}" rel="stylesheet">
		<link href="{%static 'css/bootstrap-theme.min.css'%}" rel="stylesheet">
		<link href="{%static 'css/style.css'%}" rel="stylesheet">
		<script src="{%static 'js/jquery.js'%}"></script>
		<script src="{%static 'js/bootstrap.min.js'%}"></script>

		<!-- Cabeçalho e Menu -->
		<a href="{% url 'index' %}"><img src="{% static 'img/head.png' %}"></a>

		<nav id="site-navigation" class="main-navigation" role="navigation">
			<ul>
				<li class="current-menu-item">
					<a
						title="Inicio do Site"
						href="{% url 'index' %}">
						Início
					</a>
				</li>

				<li class="current-menu-item">
					<a title="Veja os Membros Cadastrados" href="{% url 'SeeMembers' %}"> Membros </a>
					<ul class="sub-menu">
						<li>
							<a
								title="Adicione um novo Membro"
								href="{% url 'AddMember' %}">
								Adicione um Novo Membro
							</a>
						</li>
					</ul>
				</li>

				<li>
					<a
						title="Veja os Cargos Cadastrados"
						href="{% url 'SeePositions' %}">
						Cargos
					</a>
					<ul class="sub-menu">
						<li>
							<a
								title="Adicione um novo Cargo"
								href="{% url 'AddPosition' %}">
								Adicionar um Novo Cargo
							</a>
						</li>
					</ul>
				</li>

				<li>
					<a
						title="Veja as Instituições Cadastradas"
						href="{% url 'SeeInstitutions' %}">
						Instituições
					</a>
					<ul class="sub-menu">
						<li>
							<a
								title="Adicione uma nova Instituição"
								href="{% url 'AddInstitution' %}">
								Adicionar uma Nova Instituição
							</a>
						</li>
					</ul>
				</li>

				<li>
					<a
						title="Veja as Atuações Cadastradas"
						href="{% url 'SeePerformances' %}">
						Atuações
					</a>
					<ul class="sub-menu">
						<li>
							<a
								title=" Adicione uma nova Atuação"
								href="{% url 'AddPerformance' %}">
								Adicionar uma Nova Atuação
							</a>
						</li>
					</ul>
				</li>

				<li>
					<a
						title="Veja as Especialidades Cadastradas"
						href="{% url 'SeeSpecialties' %}">
						Especialidades
					</a>
					<ul class="sub-menu">
						<li>
							<a
								title="Adicione um nova Especialidade"
								href="{% url 'AddSpecialty' %}">
								Adicionar uma Nova Especialidade
							</a>
						</li>
					</ul>
				</li>

				<li>
					<a
						title="Veja os Alunos do IFPI"
						href="{% url 'SeeIfpiStudents' %}">
						Alunos do IFPI
					</a>
					<ul class="sub-menu">
						<li>
							<a
								title="Tornar um Membro Aluno do IFPI"
								href="{% url 'AddIfpiStudent' %}">
								Adicionar um Membro como Aluno do IFPI
							</a>
						</li>
					</ul>
				</li>

				<li>
					<a
						title="Veja as Atuações dos Membros"
						href="{% url 'SeeActingMembers' %}">
						Membros com Atuação
					</a>
					<ul class="sub-menu">
						<li>
							<a
								title="Adicione uma Atuação para um Membro"
								href="{% url 'AddActingMember' %}">
								Atribuir Atuação a um Membro
							</a>
						</li>
					</ul>
				</li>

				<li>
					<a
						title="Veja as Especialidades dos Membros"
						href="{% url 'SeeExpertMembers' %}">
						Membros com Especialidade
					</a>
					<ul class="sub-menu">
						<li>
							<a
								title="Adicione uma Especialidade a um Membro"
								href="{% url 'AddExpertMember' %}">
								Atribuir Especialidade a um Membro
							</a>
						</li>
					</ul>
				</li>

			</ul>
		</nav>
	</head>

	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>