{% extends 'base.html' %}

{% block content %}
	<div class="space"></div>
	<form>
		<div class="formulario">
			<fieldset>
				<legend>Cadastro de Membros</legend>
				<div class="form-group">
					<label for="id">ID do Membro:</label>
					<input type="text" class="form-control" id="id">
				</div>

				<div class="form-group">
					<label for="nome">Nome:</label>
					<input type="text" class="form-control" id="nome">
				</div>

				<div class="form-group">
					<label for="rg">RG:</label>
					<input type="text" class="form-control" id="rg">
				</div>

				<div class="form-group">
					<label for="cpf">CPF:</label>
					<input type="text" class="form-control" id="cpf">
				</div>

				<div class="form-group">
					<label for="sel1">Instituição:</label>
						<select class="form-control" id="sel1">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
				</div>

				<div class="form-group">
					<label for="sel1">Cargo:</label>
					<select class="form-control" id="sel1">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>

				<div class="form-group">
					<label for="contato">Contato:</label>
					<input type="text" class="form-control" id="contato">
				</div>
				
				<div class="form-group">
					<label for="ingresso">Data de Ingresso:</label>
					<input type="date" class="form-control" id="ingresso">
	 			</div>

				<div class="form-group">
					<label for="desligamento">Data de Desligamento:</label>
					<input type="date" class="form-control" id="desligamento">
	 			</div>

				Ativo?
	 			<div class="radio">
	 				<label><input type="radio" name="optradio">Sim</label>
				</div>
				<div class="radio">
					<label><input type="radio" name="optradio">Não</label>
				</div>

				<button type="submit" class="btn btn-default">Cadastrar</button>
				<a href="{% url 'index' %}"><button type="button" class="btn btn-default">Voltar</button></a>
			</fieldset>
		</div>
	</form>
{% endblock %}