{% extends 'base.html' %}

{% block content %}
	<div class="col-md-9">
		<table id="member-table" class="table table-striped">
			<caption class="titulo">Membros</caption>
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>RG</th>
					<th>CPF</th>
					<th>Instituição</th>
					<th>Cargo</th>
					<th>Contato</th>
					<th>Data de Ingresso</th>
					<th>Data de Desligamento</th>
					<th>Ativo?</th>
				</tr>
			</thead>

			<tbody>
			{% for member in members %}
				<tr>
					<td>{{ member.id }}</td>
					<td>{{ member.name }}</td>
					<td>{{ member.rg }}</td>
					<td>{{ member.cpf }}</td>
					<td>{{ member.institution.name }}</td>
					<td>{{ member.position.name }}</td>
					<td>{{ member.contact }}</td>
					<td>{{ member.date_of_entry }}</td>
					<td>{{ member.shutdown_date }}</td>
					<td>{{ member.is_active }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<a href="{% url 'index' %}"><button type="button" id="voltar-tabela-membro" class="btn btn-default">Voltar</button></a>
	</div>
{% endblock %}
