{% extends 'base.html' %}

{% block content %}
	<div class="space"></div>

	<form>
		<div class="formulario">
			<fieldset>
				<legend>Cadastro de Membros com Atuação</legend>
				<div class="form-group">
					<label for="sel1">Membros:</label>
					<select class="form-control" id="sel1">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>

				<div class="form-group">
					<label for="sel1">Atuação:</label>
					<select class="form-control" id="sel1">
					 	<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>

				<button type="submit" class="btn btn-default">Cadastrar</button>
				<a href="{% url 'index' %}"><button type="button" class="btn btn-default">Voltar</button></a>
			</fieldset>
		</div>
	</form>
{% endblock %}