{% extends 'base.html' %}

{% block content %}
	<div class="space"></div>

	<form class="form-signin" action="{% url 'AddPosition' %}" method="post">
	{% csrf_token %}
		<div class="formulario">
			<fieldset>
				<legend>Cadastro de Cargos</legend>
				<div class="form-group">
					<label for="identify">ID do Cargo:</label>
					<input type="text" class="form-control" id="identify">
				</div>

				<div class="form-group">
					<label for="nome">Nome:</label>
					<input type="text" class="form-control" id="nome">
				</div>

				<div class="form-group">
					<label for="descricao">Descrição:</label>
					<textarea class="form-control" rows="5" id="descricao"></textarea>
				</div>

				<button type="submit" class="btn btn-default">Cadastrar</button>
				<a href="{% url 'index' %}"><button type="button" class="btn btn-default">Voltar</button></a>
			</fieldset>
		</div>
	</form>
{% endblock %}
