{% extends 'base.html' %}

{% block content %}
	<div class="col-md-6">
		<table class="table table-striped">
			<caption class="titulo">Cargos</caption>
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Descrição</th>
				</tr>
			</thead>
			<tbody>
			{% for position in positions %}
				<tr>
					<td>{{ position.id }}</td>
					<td>{{ position.name }}</td>
					<td>{{ position.description }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<a href="{% url 'index' %}"><button type="button" class="btn btn-default voltar-tabelas">Voltar</button></a>
	</div>
{% endblock %}