{% extends 'base.html' %}

{% block content %}
	<div class="col-md-6">
		<table class="table table-striped">
			<caption class="titulo">Especialidades</caption>
			<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Descrição</th>
			</tr>
			</thead>
			<tbody>
			{% for specialty in specialties %}
				<tr>
					<td>{{ specialty.id }}</td>
					<td>{{ specialty.name }}</td>
					<td>{{ specialty.description }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<a href="{% url 'index' %}"><button type="button" class="btn btn-default voltar-tabelas">Voltar</button></a>
	</div>
{% endblock %}
