.voltar-tabelas {
   position: relative;
   float: left;
   left: 130%;
}

#voltar-tabela-membro {
   position: relative;
   float: left;
   left: 100%;
}

#member-table {
    position: relative;
    float: left;
    left: 17%;
}

.titulo {
    text-align: center;
}

#logo{
    position: relative;
    float: left;
    padding-top: 100px;
    left: 30%;
}

.formulario {
	position: relative;
	float: left;
	left: 30%;
	width: 45%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table {
	position: relative;
	float: left;
	left: 50%;
}

.space {
	padding-top: 2%;
}

/* --------------------------------------------------------------
1. Menu
-------------------------------------------------------------- */
/* main-navigation */

.main-navigation {
    margin: 30px 0 20px 0;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
    text-align: center;
    background: #e8e8e8; /* #e8e8e8 */
}

.main-navigation ul {
    list-style: none;
    margin: 0px;
}

.main-navigation ul li {
    position: relative;
    display: inline-block;
    margin-left: -4px;
    text-align: left;
}

.main-navigation ul li a {
    color: #000;
    display: block;
    font: 400 14px/1.6 inherit;
    letter-spacing: 1px;
    line-height: 22px;
}

.main-navigation > ul li { 
    padding: 8px 0;

}
.main-navigation > ul li a { 
    padding: 0 15px 0 25px; 
    border-left: 1px solid #f0f0f0; 
}

.main-navigation ul li:first-child a{ 
    border-left: 0px;
}

.main-navigation ul li:hover > ul { 
    display:block;
}

/* submenu */
.main-navigation ul.sub-menu {
    display: none;
    margin-top: 8px;
    position: absolute;
    left: 14px;
    padding:0 12px;
    min-width: 130px;
    background: #fff;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
    z-index: 999990;
}

.main-navigation ul.sub-menu li {
    border-left: 0px;
    border-top: 1px solid #fafafa;
    padding: 8px 0;
    float: none;
    font-size: 0.9em; 
    display: block;
}

.main-navigation ul.sub-menu li a {
    border: none;
    padding: 0;
    color: #000;/*Fonte Submenu*/    
}

/* --------------------------------------------------------------
2. MEDIA QUERIES
-------------------------------------------------------------- */
/* Defaults Breakpoints */
@media screen and (max-width: 767px) {
    .main-navigation {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main-navigation ul li a {
        border-left: 0px;
        margin-left: 0;
        padding-left: 0;
        font: 400 13px/1.4 inherit;
    }

    .main-navigation ul li {
        display: none;
        border-top: 1px solid #fafafa;    
    }

    .main-navigation ul li.current-menu-item {
        display: block;
    }

    .main-navigation:hover ul li {
        display: block;
    }

    /* submenu */
    .main-navigation ul.sub-menu {
        margin-top: 0px;
        left: 0px;
        z-index:999999;
    }
} 