{% extends 'base.html' %}

{% block content %}
	<div class="space"></div>
	<div class="form">
		<form>
			<div class="formulario">
				<fieldset>
					<legend>Cadastro de Membros com Especialidade</legend>
					<div class="form-group">
						<label for="membro_especialidade">Membros:</label>
						<select class="form-control" id="membro_especialidade">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>

					<div class="form-group">
						<label for="especialidade">Especialidade:</label>
						<select class="form-control" id="especialidade">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
					
					<button type="submit" class="btn btn-default">Cadastrar</button>
					<a href="{% url 'index' %}"><button type="button" class="btn btn-default">Voltar</button></a>
				</fieldset>
			</div>
		</form>
	</div>
{%endblock%}
