{% extends 'base.html' %}

{% block content %}
	<div class="col-md-6">
		<table class="table table-striped">
			<caption class="titulo">Membros com Especialidade</caption>
			<thead>
				<tr>
					<th>Membro</th>
					<th>Especialidade</th>
				</tr>
			</thead>
			<tbody>
			{% for expertMember in expertMembers %}
				<tr>
					<td>{{ expertMember.member.name }}</td>
					<td>{{ expertMember.specialty.name }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<a href="{% url 'index' %}"><button type="button" class="btn btn-default voltar-tabelas">Voltar</button></a>
	</div>
{% endblock %}
