{% extends 'base.html' %}

{% block content %}
	<div class="space"></div>
	<form>
		<div class="formulario">
			<fieldset>
				<legend>Cadastro de Alunos do IFPI</legend>
					<div class="form-group">
						<label for="sel1">Aluno do IFPI:</label>
						<select class="form-control" id="sel1">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>

					<div class="form-group">
						<label for="matricula">Matricula:</label>
						<input type="text" class="form-control" id="matricula">
					</div>
				
				<button type="submit" class="btn btn-default">Cadastrar</button>
				<a href="{% url 'index' %}"><button type="button" class="btn btn-default">Voltar</button></a>
			</fieldset>
		</div>
	</form>
{% endblock %}
