{% extends 'base.html' %}

{% block content %}
	<div class="col-md-6">
		<table class="table table-striped">
			<caption class="titulo">Alunos do IFPI</caption>
			<thead>
				<tr>
					<th>Matrícula</th>
					<th>Nome</th>
					<th>É Bolsista?</th>
				</tr>
			</thead>
			<tbody>
				<tbody>
				{% for ifpiStudent in ifpiStudents %}
					<tr>
						<td>{{ ifpiStudent.enroll }}</td>
						<td>{{ ifpiStudent.member.name }}</td>
						<td>{{ ifpiStudent.is_scholarship_holder }}</td>
					</tr>
				{% endfor %}
			</tbody>
			</tbody>
		</table>
		<a href="{% url 'index' %}"><button type="button" class="btn btn-default voltar-tabelas">Voltar</button></a>
	</div>
{% endblock %}
